body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.react-hot-toast {
  z-index: 999999 !important;
}
body[data-theme="dark"] {
  background-color: #121212;
  color: #ffffff;
}
body[data-theme="light"] {
  background-color: #f5f6fa;
  color: #111;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* SKELETON SHIMMER */
.skeleton {
  background: linear-gradient(
    90deg,
    #2a2a2a 25%,
    #3a3a3a 37%,
    #2a2a2a 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
  border-radius: 12px;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
/* SIDEBAR TOOLTIP */

.sidebar-item {
  position: relative;
}

.sidebar-item:hover .tooltip {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.tooltip {
  position: absolute;
  left: 75px;
  top: 50%;
  transform: translateY(-50%) translateX(-10px);
  background: #1f1f1f;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 13px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  box-shadow: 0 6px 12px rgba(0,0,0,0.4);
  z-index: 2000;
}
/* ACTIVE SIDEBAR ITEM */

.sidebar-item.active {
  background: rgba(79, 195, 247, 0.1);
  box-shadow: inset 3px 0 0 #4fc3f7,
              0 0 8px rgba(79, 195, 247, 0.4);
}

/* Hover effect */

.sidebar-item:hover {
  background: rgba(255,255,255,0.05);
  transform: translateX(2px);
  transition: 0.2s ease;
}
